/* .status-bar {
  background-color: red;
} */

/* .header {
  background-color: yellowgreen;
} */
/* .header .header__icon {
  background-color: teal;
}

.header .header__back-btn {
  background-color: gray;
} */

/* .friend {
  background-color: blue;
} */

/* .friend__content {
  background-color: coral;
}

.friends__title {
  background-color: cyan;
} */

/* .chats__list {
  background-color: hotpink;
} */

/* .nav {
  background-color: red;
} */

/* .sent-message .message__author {
  color: blue;
  background-color: turquoise;
} */

/* .incoming-message .message__content .message__author {
  color: green;
  background-color: yellow;
}
.sent-message .message__author {
  color: blue;
  background-color: seagreen;
}

.chat-screen .message__content {
  background-color: red;
  color: orange;
}
.chat__messages .message__content {
  background-color: pink;
} */

/* .settings .settings__icon {
  background-color: aqua;
}

.settings .settings__title {
  background-color: lightcoral;
} */

/* .more .more__btn {
  background-color: lightseagreen;
}

.suggestion.more__suggestion {
  background-color: lime;
} */
/* 
.more__suggestions .more__title {
  background-color: burlywood;
} */
